{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "comments": false,
  "sourceMaps": true,
  "compact": true,
  "minified": true
}
